// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'typed';


.header-title {
    @include typed("Find Your Dream Home Today",2,
        (caret-width: 2px, caret-space: 2px));
}

.banner-background{
    background-image: url("../../public/images/amber_realty_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}