// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'typed';


.header-title {
    @include typed("Terrarce", "Apartments", "Bungalow", "House", "Studio", "Townhouse", "Factory", "Land", "Warehouse", 2);
}

.banner-background{
    background-image: url("../../public/images/amber_realty_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fill-height{
	height: 100% !important;
}

.fill-width{
	width: 100% !important;
}

.align-self-center{
	align-self: center;
}